<h1>{{ herro }}</h1>

<p class="mb2">{{ tempo }} BPM | {{ metronome.tempo }} | {{ metronome.currentStep }}</p>

<!-- <ul>
  <li ng-repeat="sound in kit">
    <a href ng-click="player.play($index)">{{ sound.name }}</a>
  </li>
</ul> -->

<div class="clearfix mb1">
  <a href class="left square-big p1 mr1 rounded border" ng-click="player.play(0)">
    <h1>A</h1>
    <p class="small">{{ kit[0].name }}</p>
  </a>
  <a href class="left square-big p1 mr1 rounded border" ng-click="player.play(1)">
    <h1>S</h1>
    <p class="small">{{ kit[1].name }}</p>
  </a>
  <a href class="left square-big p1 mr1 rounded border" ng-click="player.play(2)">
    <h1>D</h1>
    <p class="small">{{ kit[2].name }}</p>
  </a>
  <a href class="left square-big p1 mr1 rounded border" ng-click="player.play(3)">
    <h1>F</h1>
    <p class="small">{{ kit[3].name }}</p>
  </a>
</div>

<div class="mb1 clearfix" ng-repeat="track in pattern">
  <div class="left" style="width:128px">
    {{ kit[$index].name }}
  </div>
  <a href class="left square-small"
    
    ng-repeat="step in track.steps track by $index"
    ng-class="{'bg-blue': step == true, 'bg-light-gray': step == false, 'bg-gray-2': metronome.currentStep == $index}"
    ng-click="toggleStep($parent.$index, $index)">
      <p class="small">{{ $index }}</p>
  </a>
</div>

